In [20]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [21]:
example_obj = Series() #Series is object. Shift + Tab for help.

/tmp/ipykernel_663/1987123885.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  example_obj = Series() #Series is object. Shift + Tab for help.

In [22]:
list_data = [1,2,3,4,5]
#list_data = [1,2,3,4,5] * 2
#list_data = [i * 2 for i in range(1,10,2)]
example_obj = Series(data = list_data)
list_data,example_obj

([1, 2, 3, 4, 5],
 0    1
 1    2
 2    3
 3    4
 4    5
 dtype: int64)

In [23]:
list_data = [1,2,3,4,5]
list_name = ["a","b","c","d","e"]
example_obj = Series(data = list_data, index=list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [33]:
dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}
#example_obj = Series(dict_data, dtype=np.float32)
example_obj = Series(dict_data, dtype=np.float32, name="example_data")
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [34]:
example_obj["a"]

1.0

In [35]:
example_obj["a"] = 3.2
example_obj

a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [36]:
example_obj.values

array([3.2, 2. , 3. , 4. , 5. ], dtype=float32)

In [37]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [39]:
example_obj.name = "number5"
example_obj.index.name = "alphabet5"
example_obj

alphabet5
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: number5, dtype: float32

In [40]:
dict_data_1 = {"a":1, "b":2, "c":3, "d":4, "e":5}
indexes = ["a", "b", "c", "d", "e", "f", "g", "h"]
series_obj_1 = Series(dict_data_1, index = indexes)
series_obj_1

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64