In [2]:
import numpy as np
import pandas as pd

df_data = pd.read_csv("./movie_rating.csv")
type(df_data), df_data

(pandas.core.frame.DataFrame,
            source              target  rating
 0   Jack Matthews   Lady in the Water     3.0
 1   Jack Matthews   Snakes on a Plane     4.0
 2   Jack Matthews   You Me and Dupree     3.5
 3   Jack Matthews    Superman Returns     5.0
 4   Jack Matthews  The Night Listener     3.0
 5    Mick LaSalle   Lady in the Water     3.0
 6    Mick LaSalle   Snakes on a Plane     4.0
 7    Mick LaSalle        Just My Luck     2.0
 8    Mick LaSalle    Superman Returns     3.0
 9    Mick LaSalle  The Night Listener     3.0
 10   Claudia Puig   Snakes on a Plane     3.5
 11   Claudia Puig        Just My Luck     3.0
 12   Claudia Puig  The Night Listener     4.5
 13      Lisa Rose   Lady in the Water     2.5
 14      Lisa Rose   Snakes on a Plane     3.5
 15      Lisa Rose        Just My Luck     3.0
 16      Lisa Rose    Superman Returns     3.5
 17      Lisa Rose  The Night Listener     3.0
 18      Lisa Rose   You Me and Dupree     2.5
 19           Toby   Snakes on a Plane     4.5
 20           Toby    Superman Returns     4.0
 21   Gene Seymour   Lady in the Water     3.0
 22   Gene Seymour   Snakes on a Plane     3.5
 23   Gene Seymour   You Me and Dupree     3.5
 24   Gene Seymour  The Night Listener     3.0)

In [3]:
#Source 의 index화.
df_data_sort = df_data.sort_values(["source"], ascending=True)
type(df_data_sort), df_data_sort

(pandas.core.frame.DataFrame,
            source              target  rating
 12   Claudia Puig  The Night Listener     4.5
 11   Claudia Puig        Just My Luck     3.0
 10   Claudia Puig   Snakes on a Plane     3.5
 22   Gene Seymour   Snakes on a Plane     3.5
 21   Gene Seymour   Lady in the Water     3.0
 23   Gene Seymour   You Me and Dupree     3.5
 24   Gene Seymour  The Night Listener     3.0
 0   Jack Matthews   Lady in the Water     3.0
 1   Jack Matthews   Snakes on a Plane     4.0
 2   Jack Matthews   You Me and Dupree     3.5
 4   Jack Matthews  The Night Listener     3.0
 3   Jack Matthews    Superman Returns     5.0
 18      Lisa Rose   You Me and Dupree     2.5
 17      Lisa Rose  The Night Listener     3.0
 16      Lisa Rose    Superman Returns     3.5
 15      Lisa Rose        Just My Luck     3.0
 14      Lisa Rose   Snakes on a Plane     3.5
 13      Lisa Rose   Lady in the Water     2.5
 5    Mick LaSalle   Lady in the Water     3.0
 9    Mick LaSalle  The Night Listener     3.0
 8    Mick LaSalle    Superman Returns     3.0
 6    Mick LaSalle   Snakes on a Plane     4.0
 7    Mick LaSalle        Just My Luck     2.0
 19           Toby   Snakes on a Plane     4.5
 20           Toby    Superman Returns     4.0)

In [4]:
df_source_unique = df_data_sort["source"].unique()

type(df_source_unique), df_source_unique

(numpy.ndarray,
 array(['Claudia Puig', 'Gene Seymour', 'Jack Matthews', 'Lisa Rose',
        'Mick LaSalle', 'Toby'], dtype=object))

In [5]:
df_index = np.array(dict(enumerate(df_data_sort["source"].unique())))
type(df_index), df_index

(numpy.ndarray,
 array({0: 'Claudia Puig', 1: 'Gene Seymour', 2: 'Jack Matthews', 3: 'Lisa Rose', 4: 'Mick LaSalle', 5: 'Toby'},
       dtype=object))

In [6]:
df_data_sort[df_data_sort['source'] == df_source_unique[0]]

          source              target  rating
12  Claudia Puig  The Night Listener     4.5
11  Claudia Puig        Just My Luck     3.0
10  Claudia Puig   Snakes on a Plane     3.5

In [12]:
df_data_sort[df_data_sort['source'].isin(df_source_unique)]

           source              target  rating
12   Claudia Puig  The Night Listener     4.5
11   Claudia Puig        Just My Luck     3.0
10   Claudia Puig   Snakes on a Plane     3.5
22   Gene Seymour   Snakes on a Plane     3.5
21   Gene Seymour   Lady in the Water     3.0
23   Gene Seymour   You Me and Dupree     3.5
24   Gene Seymour  The Night Listener     3.0
0   Jack Matthews   Lady in the Water     3.0
1   Jack Matthews   Snakes on a Plane     4.0
2   Jack Matthews   You Me and Dupree     3.5
4   Jack Matthews  The Night Listener     3.0
3   Jack Matthews    Superman Returns     5.0
18      Lisa Rose   You Me and Dupree     2.5
17      Lisa Rose  The Night Listener     3.0
16      Lisa Rose    Superman Returns     3.5
15      Lisa Rose        Just My Luck     3.0
14      Lisa Rose   Snakes on a Plane     3.5
13      Lisa Rose   Lady in the Water     2.5
5    Mick LaSalle   Lady in the Water     3.0
9    Mick LaSalle  The Night Listener     3.0
8    Mick LaSalle    Superman Returns     3.0
6    Mick LaSalle   Snakes on a Plane     4.0
7    Mick LaSalle        Just My Luck     2.0
19           Toby   Snakes on a Plane     4.5
20           Toby    Superman Returns     4.0

In [13]:
df_data_sort[df_data_sort['source'].isin(df_source_unique[1])]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]